<header>
  <br><br><br><br><br><br>
</header>
<h1><center>Bienvenido a Survey Monkey!</center></h1>

<div id="slot-machine"></div><br><br>
<a href="/loogin" ><button id="iniciar" type="button">Iniciar Sesión</button></a>
<a href="/signup" ><button id="registrar" type="button">Registrar</button></a>



