<header>
  <br><br><br><br><br><br>
</header>
  <h1><center>Bienvenido a Survey Monkey!</center></h1>
  <h1>hola!</h1>
  <div>
    <h3> Inicia Sesión </h3>
      <form class="login" action="/loogin" method="POST">
        <fieldset>
          Email<br><input type="email" id="email" name="email" placeholder="Email"><br><br>
          Password<br><input type="password"  id ="password" name="password" placeholder="Password"><br><br>
          <input type="submit" value="Enviar" id="continue_l">
          <a href="/" ><button id="sesion" type="button">Regresar</button></a>
        </fieldset>
      </form>
        <div >
          <ul id="result"></ul>
        </div>
  </div>


 
   