<header>
  <h1><p> <%=  current_user.email %></p></h1>
  <a href="/logout" ><button id="logaut" type="button" id="gt">log Out</button></a>
  <a href="/user_profile" ><button id="perfil" type="button">Perfil</button></a>
  <a href="/home" ><button id="sesion" type="button">Regresar</button></a>
</header>
<p style="color:blue"=>User Name: <%= current_user.username %></p>
<p style="color:blue"=>Nombre: <%= current_user.name %></p>
<p style="color:blue"=>E-mail: <%= current_user.email %></p>