<header>
  <br><br><br><br><br><br>
</header>
<h1>Hola</h1>
<div>
 <h3>Realiza tu Registro </h3>
  <fieldset>
  <form class="signin" action="/signup" method="POST">
    Alias <br><input type="text" name="username" id="username" placeholder="Nombre de usuario"><br><br>
    Nombre de Usuario<br><input type="text" name="name" id="name" placeholder="Nombre"><br><br>
    Email<br><input type="email" id="email" name="email" placeholder="Email"><br><br>
    Paswword<br><input type="password" id ="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Enviar" id="continue_s">
    <a href="/" ><button id="sesion" type="button">Regresar</button></a>
    </fieldset>
  </form>
  <div >
          <ul id="result"></ul>
        </div>
</div>
  
