<header>
  <h1><p> <%=  current_user.email %></p></h1>
  <a href="/logout" ><button id="logaut" type="button" id="gt">log Out</button></a>
  <a href="/user_profile" ><button id="perfil" type="button">Perfil</button></a>
  <a href="/home" ><button id="sesion" type="button">Regresar</button></a>
</header>
<h1><%=  @survey.survey_name %></h1>
<h3>Question</h3>


<form id="form_questions" action="/question_answer_survey" method="post">
<input name="s_id" type="hidden" value="<%=  @survey.id %>" id='s_id'>
  <p>
  <center><span style="border:solid 1px ; background-color: #B2BABB; color:black" id="addVar">Add Question</span></center>
  </p>
  <p>
  <input type="submit" value="Generar">
  </p>
 
</form>

